*{margin: 0px;padding: 0px;}
div.topbar{width: 100%;height: 50px;background: #000;}
div>h1{width: 240px;}
.topbar .menus {
    position: relative;
    z-index: 299;
}
h1.fl {
    float: left;}
.topbar .menu {
    list-style: none; 
    float: left;}
 .menu a{
    padding: 0 16px 0 16px;
    line-height: 50px;
    color: #ccc;
    font-size: 14px;
     text-decoration: none;}
.menu a:hover{
    color:#52e2c0;
}